/*Esto de body es para el formulario de la pagina contactos, para que no se solape*/

body {
    padding-top: 50px;
}


#form_contacto {
    margin-top: 10%;
}

div {
border-top-width: 50px;
border-right-width: 50px;
border-bottom-width: 50px;
border-left-width: 50px;
border-top-color: #CC0000;
border-right-color: blue;
border-bottom-color: #00FF00;
border-left-color: #CCC;
}

/* PANELES DE LA PAGINA DESTINO */
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.panel-image img.panel-image-preview {
    width: 100%;
    border-radius: 4px 4px 0px 0px;
}
.panel-heading ~ .panel-image img.panel-image-preview {
    border-radius: 0px;
}
.panel-image ~ .panel-body, .panel-image.hide-panel-body ~ .panel-body {
    overflow: hidden;
}
.panel-image ~ .panel-footer a {
    padding: 0px 10px;
    font-size: 1.3em;
    color: rgb(100, 100, 100);
}

/* ESTO PARA OCULTAR EL TEXTO DE LOS PANELES */
.panel-image.hide-panel-body ~ .panel-body {
    height: 0px;
    padding: 0px;
}
/* FIN DE OCULTAR EL TEXTO DE LOS PANELES /*



/* FIN DE PANELES DE LA PAGINA DESTINO */
